<div>
    <mat-button-toggle-group  name="fontStyle" aria-label="Font Style">
        <a mat-raised-button routerLinkActive="raised-button-active" routerLink="/">Dashboard</a>
        <a mat-raised-button routerLinkActive="raised-button-active" routerLink="/consultation">Consultation</a>
        <a mat-raised-button routerLinkActive="raised-button-active" routerLink="/docclinic">Doctor's and Clinic's List</a>
        <a mat-raised-button routerLinkActive="raised-button-active" routerLink="/policy">Policy</a>
    </mat-button-toggle-group>
</div>