<mat-card>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
        <div fxFlex="50">
            <button mat-raised-button>
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <div fxFlex="30">
                      hi
                    </div>
                    <div fxFlex="30">
                      <b>  Clinics <br> {{clinic}}</b>
                    </div>
                    
                    <div fxFlex="10">
                        <b>|</b>
                    </div>
                    
                    <div fxFlex="30">
                       <b> Points <br> {{totalClinicPoint}}</b>
                    </div>
                    
                </div>
            </button>
        </div>
        <div fxFlex="50">
             <button mat-raised-button>
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <div fxFlex="30">
                      hi
                    </div>
                    <div fxFlex="30">
                    <b>Doctors <br> {{doctors}}</b>
                    </div>
                    
                    <div fxFlex="10">
                    <b>   |</b>
                    </div>
                    
                    <div fxFlex="30">
                    <b>   Points <br> {{totalDoctorsPoint}}</b>
                    </div>
                    
                </div>
             </button>
            
        </div>
        
    </div>
    <br><br>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
        <div fxFlex="50">
            <button mat-raised-button>
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <div fxFlex="30">
                        
                    </div>
                    <div fxFlex="70">
                    <b>   Consultation <br> {{consultation}}</b>
                    </div>
                    
                </div>
            </button>
        </div>
        <div fxFlex="50">
             <button mat-raised-button>
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                    <div fxFlex="30">
                      hi
                    </div>
                    <div fxFlex="70">
                    <b>Total Points <br> {{totalPoints}}</b>
                    </div>
                    
                </div>
             </button>
        </div>
        
    </div>
    
 </mat-card>